@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://afeld.github.io/emoji-css/emoji.css');

html {
  height: 100%;
  font-size: 62.5%;
}

:root {
  --clr-pink-light: #fd79a8;
  --clr-blue-light: #74b9ff;
  --clr-purple-dark: #6c5ce7;
  --clr-green: #00b894;
  --clr-red: #d63031;
  --clr-gray-lighter: #dfe6e9;
  --clr-gray-light: #b2bec3;
  --clr-gray-dark: #636e72;
  --clr-gray-darker: #2d3436;
  --clr-gray-darkest: #16191a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;

  color: var(--clr-gray-darkest);
  background-color: var(--clr-gray-lighter);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
}